<!DOCTYPE html>
<html>
    <head>
        <title>Login-a-tron</title>
        <style type="text/css">
            body {
                display: grid;
                grid-template-rows: 1fr 3fr 1fr;
                grid-template-columns: 1fr 3fr 1fr;
            }

            .center {
                grid-column-start: 2;
                grid-row-start: 2;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            {{#logged_in}}
            Hello, <b>{{name}}</b>!
            {{/logged_in}}
            {{^logged_in}}
            Who are you?
            {{/logged_in}}
        </div>
    </body>
</html>